@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p{
	margin: 0;
}

body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;
  min-width: 320px;
  height: 100vh;
  background: url('https://images.unsplash.com/photo-1631259354104-f17f111fe2da?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=435&q=80') center no-repeat;
  background-size: cover;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
    display: flex;
    width: 100%;
}

.slide{
    height: 80vh;
    flex: 1;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    border-radius: 20px;
    margin: 10px;

    cursor: pointer;
    transition: all .3s ease-in-out;
}

.slide h3{
    position: absolute;
    left: 20px;
    bottom: 20px;
    font-size: 24px;
    opacity: 0;
}

.slide.active{
    flex: 10;
}

.slide.active h3{
    opacity: 1;
    transition: opacity .5s ease-in-out .3s;
}






